.results_container {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding: 10px;
}

.winner_scores {
  height: 150px;
  margin-top: 10%;
  width: 60%;
  justify-content: center;
  align-items: center;
  text-emphasis: center;
}

.display_winners {
  margin: 0 10%;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 8%;
}

.results_button {
  margin: 10px;
  width: 154px;
}

.winner_score_text {
  text-align: start;
  margin: 6%;
}