:root {
    --darkblue: #001524;
    --seagreen: #15616D;
    --tan: #FFECD1;
    --orange: #FF7D00;
    --burgandy: #78290F;
}

.buttonDiv {
    margin: 10px;
}

.aboutUsContainer {
    margin-top: 15px;
}

.aboutMeList {
    list-style: none;
    color: #fff;
   
}

.imageContainer {
    padding: unset;
}

.cardDescription {
    color: #fff
}

.imageTop {
    height: auto;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.aboutTeam {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    height: 100%;
    border-radius: 1.5rem;
    margin: 5px;
    border: 6px solid var(--seagreen) !important;
}
.aboutUsTitle {
    color: #fff !important;
}
.menuPage {
    height: 100vh;
}

.cardContainer {
    padding: 10px;
}

.menuCard {
    box-shadow:  5px 7px 15px rgba(26, 26, 27, 0.2);
    border-radius: 1.5rem;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1.5%;
    box-shadow: 2px 1px 5px 6px #15616d;
    background: #001524;
}

.backToHomeMenu {
    box-shadow:  4px 2px 6px rgba(12, 12, 12, 0.2);
    color: white !important;
    background-color: var(--seagreen) !important;
    border-color: var(--seagreen) !important;
    transition: 1s;
}
.aboutUs {
    box-shadow:  5px 7px 15px rgba(26, 26, 27, 0.2);
    border-radius: 1.5rem;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1.5%;
    box-shadow: 2px 1px 5px 6px #15616d;
    background: #001524;
}
@media(max-width: 700px) {
    .menuCard { 
      flex: 1 0 100%;
      margin-bottom: 10px;
    }
    .aboutUs {
        height: 50%;
    }
  }