* {
    margin: 0;
    padding: 0
}

.catHomeMain {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.catHomeLogoDiv {
    width: 100vw;
    height: 15vh;
    padding-top: 1%;
    margin-bottom: 4%;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-variant: small-caps;
}

.catHomeLogo {
    font-size: 80px; 
}

.catHomeCat {
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    height: 85vh;
    width: 90%;
    margin-top: -3%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

